.App {
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 40px;
}

td {
  text-align: center;
}

#paginationButton {
  background: transparent;
  color: Blue;
  border: black solid 1px;
}
.empTable {
  border: black solid 2px;
  padding: 20px;
}
#searchText {
  width: 200px;
  margin-bottom: 10px;
  margin-left: 140px;
  margin-right: 10px;
}
#empAdd, #empUpdate{
  background-color: lightgreen;
}
#empDel {
  margin-left: 5px;
  margin-top: 10px;
  background-color: lightgrey;
}
#editDel-btn {
  margin-left: 10px;
  margin-top: 8px;
}
#submit-btn {
  margin-top: 10px;
}
#marginPagination {
  margin-top: 10px;
  margin-left: -20px;
}